html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: Tahoma, Arial, sans-serif;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.main {
  background-color: #000000;
  background-image: url('../images/bg-main.png');
  background-repeat: no-repeat;
  background-size: 960px;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 853px;
  margin-left: auto;
  margin-right: auto;
}

.nav {
  padding-top: 57px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.nav .logo {
  position: relative;
  margin-bottom: -14px;
}

.nav .logo img {
  max-width: 100%;
}

.nav .logo .title {
  font-size: 10.2px;
  line-height: 1.2;
  font-weight: 700;
  color: #e6e6e6;
  position: absolute;
  bottom: 14px;
  left: 50%;
  transform: translateX(-50%);
}

.contacts {
  font-size: 10.2px;
  line-height: 1.2;
  font-weight: 700;
  color: #e6e6e6;
  padding-right: 17px;
}

.contacts a {
  font-size: 8.5px;
  line-height: 1.2;
  font-weight: 400;
  color: #e6e6e6;
  text-decoration: none;
  transition: .3s;
  display: block;
  transform-origin: left;
}

.contacts a:hover {
  transform: scale(1.1);
}

.cards {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  margin-left: -3px;
  margin-right: -3px;
  flex-wrap: wrap;
}

.cards-item {
  max-width: 270px;
/*  width: calc(33.3333% - 6px);*/
  padding: 14px 3px;
  position: relative;
  z-index: 2;
  transition: .3s;
}

.cards-item:hover {
  transform: scale(.95);
}

.cards-item:after {
  content: "";
  background: url('../images/ramka_354.png') no-repeat center;
  width: 270px;
  height: 188px;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.cards-item img {
  max-width: 100%;
}

.cards-item .title {
  font-size: 15.3px;
  line-height: 1.2;
  font-weight: 400;
  color: #e6e6e6;
  display: block;
  margin-bottom: 33px;
  text-align: center;
}

.footer {
  text-align: center;
  margin-top: auto;
  padding-bottom: 31px;
}

.footer p {
  font-size: 10.2px;
  line-height: 1.2;
  font-weight: 400;
  color: #e6e6e6;
}
